<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" href="{% static "./gday.png" %}" />
  <link rel="stylesheet" href="{% static "./main.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gday Punch Web App</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166046140-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166046140-1');
  </script>
</head>
<body>
<div id="root">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "./main.js" %}"></script>
</html>