<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" href="{% static "./gday.png" %}" />
  <link rel="stylesheet" href="{% static "./main.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gday Punch Web App</title>
  <meta name="description" content="Your #1 Manga Magazine in Australia, for and by Australian Artists - Welcome to our brand new Web Store and App!" />
  
  <meta name="og:title" content="{% if page.title %}{{page.title}}{% else %}__META_OG_TITLE__{% endif %}"/>
  <meta name="og:description" content="__META_OG_DESCRIPTION__"/>
  <meta name="og:image" content="__META_OG_IMAGE__"/>

  <meta name="user" content="{{ user }}" />
  <meta name="twitter:title" content="__META_TWITTER_TITLE__"/>
  <meta name="twitter:description" content="__META_TWITTER_DESCRIPTION__"/>
  <meta name="twitter:image" content="__META_TWITTER_IMAGE__"/>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="www.gdaypunch.com.au" />
  <meta name="twitter:creator" content="@gdaymanga" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166046140-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166046140-1');
  </script>
</head>
<body>
<div id="root">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "./main.js" %}"></script>
</html>