<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gday Punch Purchase Receipt</title>
  <meta name="description" content="Gday Punch Purchase Receipt">
  <meta name="author" content="Gday Punch">
  <style type="text/css">
    .link:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 600px), screen and (max-device-width: 600px) {
        .outer {
          padding-left: unset !important;
          padding-right: unset !important;
        }
        .footer-img {
          width: unset !important;
        }
        .address-field {
          padding-left: unset !important;
        }
    }
  </style>
</head>
<body class="outer" style="background: #eaeaea; margin-left: auto; margin-right: auto; margin-top: 1em; transform: scale(1.2); padding: 2em;">
  <div style="max-width: 36em; margin-left: auto; margin-right: auto; font-family: sans-serif; font-weight: 300; background: white; padding: 1em; color: dimgray;">
    <table style="width: 100%; border-bottom: 1px solid #bfbfbf;">
      <tr>
        <td>
          <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday.png">
        </td>
        <td style="text-align: end;">
          <table style="width: 100%;">
            <tr style="font-size: 0.7em">
              <td>
                {{ date }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div style="font-size: 1.5em; font-weight: 400; color: #8e8e8e; text-align: center; padding: 2em; border-bottom: 1px solid #bfbfbf;">
      <div>{{ customer }}, {{ subject }}</div>
      <div style="margin-top: 1em;">
        {% if signup_prompt %}
        <a href="{{ website }}/forgot-password" target="_blank" style="text-decoration: none; height: 3em; border: none; background: dimgray; color: white; padding: 1em; letter-spacing: 0.05em; font-family: sans-serif; font-size: 0.7em; white-space: nowrap;">
          Reset Password to Login
        </a>
        {% else %}
        <a href="{{ website }}/bookshelf" target="_blank" style="text-decoration: none; height: 3em; border: none; background: dimgray; color: white; padding: 1em; letter-spacing: 0.05em; font-family: sans-serif; font-size: 0.7em; white-space: nowrap;">
          Go to Bookshelf
        </a>
        {% endif %}
      </div>
    </div>
    {% if signup_prompt %}
    <div style="text-align: center; padding: 1em; padding-bottom: 1.5em; border-bottom: 1px solid #bfbfbf;">
      <p>An account has been created for you so you can have instant access to your manga on {{ website }}. </p>
      <p>Using this email, reset your password to login.</p>
    </div>
    {% endif %}
    {% if granting_items %}
    <div>
      <h3 style="margin: 1em; font-size: 1.1em;">
        Access Given
      </h3>
      <div>
        <table style="text-align: left; color: #828282; border-collapse: collapse; border: 1px solid #d8d8d8; width: 100%;">
          <thead>
            <th style="padding: 1em; font-weight: 100; background: #eaeaea;">
              Item
            </th>
          </thead>
          {% for item in granting_items %}
            <tr>
              <td style="padding: 1em; font-weight: 600; color: #949494;">
                {{ item.product.title }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
    {% if removing_items %}
    <div>
      <h3 style="margin: 1em; font-size: 1.1em;">
        Removed Access
      </h3>
      <div>
        <table style="text-align: left; color: #828282; border-collapse: collapse; border: 1px solid #d8d8d8; width: 100%;">
          <thead>
            <th style="padding: 1em; font-weight: 100; background: #eaeaea;">
              Item
            </th>
          </thead>
          {% for item in removing_items %}
            <tr>
              <td style="padding: 1em; font-weight: 600; color: #949494;">
                {{ item.product.title }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
    <table style="width: 100%;">
      <tr>
        <td class="address-field" style="padding-left: 1em; padding-right: 1em; width: 50%; vertical-align: top;">
          <h4>Notes</h4>
          <span></span>
          <p style="font-size: 0.9em; margin-top: 0.2em; margin-bottom: 0.2em;">
            {{ notes }}
          </p>
        </td>
      </tr>
    </table>
    <table style="width: 100%; margin-top: 1em;">
      <tr>
        <td class="footer-img" style="float: right;">
          <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday_header.png">
        </td>
        <td style="font-family: sans-serif; font-size: 0.7em; color: dimgrey;">
          <table>
            <tr>
              <td style="text-transform: uppercase;">
                Gday Punch Pty Ltd
              </td>
            </tr>
            <tr>
              <td>
                Melbourne, VIC 3000 Australia
              </td>
            </tr>
            <tr>
              <td>  
                <p style="margin: unset;" class="link" onclick="window.open('{{ website }}', '_blank')">
                  www.gdaypunch.com
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>