<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gday Punch Purchase Receipt</title>
  <meta name="description" content="Gday Punch Purchase Receipt">
  <meta name="author" content="Gday Punch">
  <style type="text/css">
    .link:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 600px), screen and (max-device-width: 600px) {
        .outer {
          padding-left: unset !important;
          padding-right: unset !important;
        }
        .footer-img {
          width: unset !important;
        }
        .address-field {
          padding-left: unset !important;
        }
    }
  </style>
</head>
<body class="outer" style="background: #eaeaea; margin-left: auto; margin-right: auto; margin-top: 1em; transform: scale(1.2); padding: 2em;">
  <div style="max-width: 36em; margin-left: auto; margin-right: auto; font-family: sans-serif; font-weight: 300; background: white; padding: 1em; color: dimgray;">
    <table style="width: 100%; border-bottom: 1px solid #bfbfbf;">
      <tr>
        <td>
          <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday.png">
        </td>
        <td style="text-align: end;">
          <table style="width: 100%;">
            <tr>
              <td>
                Order No. {{ order.number }}
              </td>
            </tr>
            <tr style="font-size: 0.7em">
              <td>
                {{ order.date_created }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div style="font-size: 1.5em; font-weight: 400; color: #8e8e8e; text-align: center; padding: 2em; border-bottom: 1px solid #bfbfbf;">
      <div>One more step away, {{ customer.first_name }}!</div>
      <div style="margin-top: 1em;">
        <a href="{{ website }}" target="_blank" style="text-decoration: none; height: 3em; border: none; background: dimgray; color: white; padding: 1em; letter-spacing: 0.05em; font-family: sans-serif; font-size: 0.7em; white-space: nowrap;">
          Sign up and start reading!
        </a>
      </div>
    </div>
    <div style="text-align: center; padding: 1em; padding-bottom: 1.5em; border-bottom: 1px solid #bfbfbf;">
      <p>Your recent purchase includes digital access products that require you to login to view them.</p>
    </div>
    <div style="text-align: center; padding: 1em; padding-bottom: 1.5em; border-bottom: 1px solid #bfbfbf;">
      <p>Sign up with your email: {{ customer.email }}</p>
    </div>
    <div>
      <div>
        <table style="text-align: left; color: #828282; border-collapse: collapse; border: 1px solid #d8d8d8; width: 100%;">
          <thead>
            <th style="padding: 1em; font-weight: 100; background: #eaeaea;">
              Item
            </th>
          </thead>
          {% for item in items %}
            <tr>
              <td style="padding: 1em; font-weight: 600; color: #949494;">
                {{ item.product.title }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <table style="width: 100%; margin-top: 1em;">
      <tr>
        <td class="footer-img" style="width: 50%; float: right;">
          <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday_header.png">
        </td>
        <td style="width: 50%; font-family: sans-serif; font-size: 0.7em; color: dimgrey;">
          <table>
            <tr>
              <td style="text-transform: uppercase;">
                Gday Punch Pty Ltd
              </td>
            </tr>
            <tr>
              <td>
                Melbourne, VIC 3000 Australia
              </td>
            </tr>
            <tr>
              <td>  
                <p style="margin: unset;" class="link" onclick="window.open('{{ website }}', '_blank')">
                  www.gdaypunch.com
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>