body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100%;

  p {
    z-index: 1;
  }
}

.App-header-container {
  height: 100%;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-left: -87px;
}

.App-logo-big {
  height: 13vmin;
  pointer-events: none;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear,
      App-logo-pulsate infinite 1s alternate;
  }
}

.app-temp-background {
  background-image: url("/static/images/launch-background.png");
  background-position: center;
  background-size: 136%;
  background-blend-mode: color-burn;
}

@media (min-width: 1024px) {
  .app-temp-background {
    background-size: 88%;
  }
}

@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.header {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: 0.6s ease-in 0s 1 slideInFromLeft;
}

.App-header-container,
.pdf-container {
  background-color: #f1f1f1;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(179, 179, 179);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  .react-pdf__Document,
  .react-pdf__Page,
  .react-pdf__Page__textContent {
    width: 100% !important;

    .react-pdf__Page__canvas {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

.page-not-found {
  height: 100vh;
  font-size: 2em;

  .home-logo {
    margin: unset;
    height: unset;

    img {
      margin: unset;
    }
  }
}

.exit {
  animation: 0.6s ease-in 0s 1 slideOutToLeft;
  transform: translateX(-100%);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20pt);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateX(-20pt);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20pt);
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.pdf-reader {
  color: #272727;
  padding-top: 10vh;

  .pdf-details {
    align-items: center;

    h2 {
      margin-right: 10pt;
    }
  }

  .reader-container {
    .left-overlay-clicker-top {
      position: absolute;
      left: 0;
      width: 45%;
      height: 35%;
      top: 0;
      z-index: 2;
    }

    .right-overlay-clicker-top {
      position: absolute;
      right: 0;
      width: 45%;
      height: 35%;
      top: 0;
      z-index: 2;
    }

    .left-overlay-clicker-bottom {
      position: absolute;
      left: 0;
      width: 45%;
      height: 53%;
      bottom: 0;
      z-index: 2;
    }

    .right-overlay-clicker-bottom {
      position: absolute;
      right: 0;
      width: 45%;
      height: 53%;
      bottom: 0;
      z-index: 2;
    }
  }
}

.reader-only {
  padding-top: unset;
}

.pdf-button {
  position: absolute;
  z-index: 1;
  height: 4em;
  width: 4em;

  &:hover {
    opacity: 1 !important;
    cursor: pointer;
  }
}

.disabled {
  &:hover {
    opacity: 0 !important;
    cursor: initial;
  }
}

.pdf-details {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 10pt;
  margin-bottom: 10pt;
  align-items: flex-end;
  margin-bottom: 5vh;

  a {
    text-decoration: none;
    color: black;
  }

  svg {
    margin-left: 20pt;
    height: 1em;

    &:hover {
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
  }

  h2,
  h4 {
    margin: unset;
  }
}

.manga-tile {
  a {
    &:hover {
      cursor: pointer;
    }
  }

  img {
    &:hover {
      transition-duration: 0.3s;
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.1);
      transform: scale(1.05);
    }
  }
}

.comments-section {
  padding: 50px;
  padding-top: unset;

  .comments-container {
    padding-bottom: 15pt;

    .comment {
      padding: 10pt;
      padding-left: unset;
      display: flex;

      .author {
        font-style: italic;
        font-weight: 600;
        margin-right: 10pt;
        color: #7b7b7b;
        font-size: 11pt;
      }

      .content {
        font-size: 11pt;
        margin-right: 10px;
      }
    }
  }

  .comment-creator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 450px;
    height: 88px;
    justify-content: space-between;

    input {
      height: 30pt;
      width: 100%;
      background: #f1f1f1;
      border: none;
      box-shadow: 0px 1px #949494;
    }

    button {
      width: 100px;
      height: 30px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #3e3e3e;
    }
  }
}

.effect-fade:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  background: orange;
  color: white !important;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-pulsate {
  from {
    filter: brightness(0.3);
  }
  to {
    filter: brightness(0.8);
  }
}

.feature-content {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-top: 30pt;

  h2 {
    color: #d2d2d2;
    font-size: 1em;
    margin-bottom: unset;
  }

  .svg-inline--fa {
    height: 2em;
    width: 4em;
  }

  .feature {
    background: #000000c7;
    padding: 7pt;
    border-radius: 15%;
  }
}

.footer {
  background: #191919;
  display: flex;
  align-items: center;
  color: #adadad;
  justify-content: space-between;
  flex-wrap: wrap;

  .contact-us {
    margin: 2em;
    text-align: start;

    a {
      text-decoration: none;
      color: inherit;
    }
    p {
      margin: unset;
      margin-bottom: 2pt;
    }

    .website {
      margin-top: 4pt;
    }
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    min-width: max-content;
    width: 30%;

    a {
      padding: 0.5em;
      text-decoration: none;
      color: inherit;
    }
    svg {
      height: 1.5em;
      width: 1.5em;
    }

    .fb-hover:hover {
      background: #3b5998;
      color: white;
    }

    .ig-hover:hover {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      color: white;
    }

    .yt-hover:hover {
      background: #c4302b;
      color: white;
    }

    .tw-hover:hover {
      background: #00acee;
      color: white;
    }
  }

  .copyright {
    margin: 2em;
  }
}

.admin {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  .twitter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    width: max-content;

    .embedded-group {
      display: flex;
      align-items: flex-end;
      background: #eef8ff;
      margin-bottom: 1em;
      width: 350px;
    }

    .retweet-url {
      border: none;
      background: #ececec;
      padding: 1em;
      margin-top: 1em;
      width: 330px;
    }

    .retweet-url.loading {
      filter: blur(2px);
      cursor: not-allowed;
    }

    .delete-icon {
      height: 1.5em;
      width: 1.5em;
      margin: 1em;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    canvas {
      border: 1px solid rgb(158, 158, 158);
      background: rgb(158, 158, 158);
      border-radius: 0.5em;
    }

    canvas.loading {
      filter: blur(2px);
      cursor: not-allowed;
    }

    .upload-button {
      height: 15em;
      width: 330px;
      border: 10px dashed #ababab;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::before {
        content: "Drag and drop image here";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .resize-slider.loading {
      filter: blur(2px);
      cursor: not-allowed;
    }

    .upload-button.loading {
      filter: blur(2px);
      cursor: not-allowed;
    }

    .avatar-buttons {
      width: 350px;
      display: flex;
      justify-content: space-evenly;
      height: 2em;
      align-items: center;
    }

    .rc-slider {
      width: 80%;
    }

    .status-area {
      height: 8em;
      font-size: 1em;
      max-width: 350px;
      min-height: 5em;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.5em;
      background: rgb(232, 232, 232);
      border-radius: 0.5em;
    }

    .status-area.loading {
      filter: blur(2px);
    }

    .submit-button {
      min-height: 3em;
      width: 30vh;
      border-radius: 0.5em;
      border: none;
      background: #b3ddff;
      color: #212121;
      text-transform: uppercase;
      letter-spacing: 1pt;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    .submit-button.loading {
      filter: opacity(0.5);
      cursor: not-allowed;
    }
  }
}

.loading {
  filter: blur(2px);
  cursor: not-allowed;
}

.loader {
  position: absolute;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #e8e8e8;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
